Repository minos-framework/minos-cli, pull requests merged in 2022-02, with the labels that each got.

#47 #46 - Add set command
  minos/cli/api/__init__.py
  minos/cli/api/set.py
  minos/cli/templating/fetchers.py
  tests/test_cli/test_api/__init__.py
  tests/test_cli/test_api/test_api.py
  tests/test_cli/test_api/test_set.py
Labels: cli

#51 #45 - Refactor command structure
  minos/cli/api/__init__.py
  minos/cli/api/init.py
  minos/cli/api/new.py
  minos/cli/api/set.py
  minos/cli/api/utils.py
  tests/test_cli/test_api/test_init.py
  tests/test_cli/test_api/test_new.py
  tests/test_cli/test_api/test_utils.py
Labels: enhancement, project, microservice, cli, deployment

#54 #53 - Create README.md.
  README.md
Labels: documentation

#57 #56 - Remove `MICROSERVICE_INIT` and `PROJECT_INIT` constants
  minos/cli/__init__.py
  minos/cli/api/init.py
  minos/cli/api/new.py
  minos/cli/api/set.py
  minos/cli/templating/__init__.py
  minos/cli/templating/fetchers.py
  tests/test_cli/test_templating/test_processors.py
Labels: templating

#55 #50 - Avoid duplicated questions
  minos/cli/__init__.py
  minos/cli/api/set.py
  minos/cli/deploying/microservice.py
  minos/cli/deploying/project.py
  minos/cli/pathlib.py
  minos/cli/templating/fetchers.py
  minos/cli/templating/processors.py
  minos/cli/wizards/forms.py
  minos/cli/wizards/questions.py
  tests/test_cli/test_pathlib.py
  tests/test_cli/test_templating/test_fetchers.py
  tests/test_cli/test_templating/test_processors.py
  tests/test_cli/test_wizards/test_forms.py
Labels: enhancement, templating, cli

#59 v0.1.1
  HISTORY.md
  README.md
  minos/cli/__init__.py
  pyproject.toml
Labels: release

#70 #68 - Deleted deploy command.
  minos/cli/api/__init__.py
  minos/cli/api/deploy.py
  minos/cli/deploying/__init__.py
  minos/cli/deploying/abc.py
  minos/cli/deploying/microservice.py
  minos/cli/deploying/project.py
  tests/test_cli/test_api/test_deploy.py
  tests/test_cli/test_deploying/__init__.py
  tests/test_cli/test_deploying/test_abc.py
  tests/test_cli/test_deploying/test_microservice.py
  tests/test_cli/test_deploying/test_project.py
Labels: cli, deployment

#78 #75 - Avoid `__pycache__` generation
  minos/cli/__init__.py
Labels: cli

#83 #81 - Deleted `init` command.
  minos/cli/api/__init__.py
  minos/cli/api/init.py
  tests/test_cli/test_api/test_init.py
Labels: cli

#82 0.2.0
  HISTORY.md
  minos/cli/__init__.py
  minos/cli/api/__init__.py
  minos/cli/api/init.py
  minos/cli/api/new.py
  minos/cli/api/set.py
  minos/cli/pathlib.py
  pyproject.toml
  tests/test_cli/test_api/test_init.py
  tests/test_cli/test_api/test_new.py
  tests/test_cli/test_api/test_version.py
Labels: release
